<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindShell - fourth lvl</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <a href="index.html">home</a>
                <div class="dropdown">
                  <a href="#" id="wiki-link">Wiki</a>
                  <div class="dropdown-content" id="wiki-menu">
                      <a href="firstgame.html">Первая игра</a>
                      <a href="secondgame.html">Вторая игра</a>
                      <a href="thirdgame.html">Третья игра</a>
                      <a href="fourthgame.html">Четвертая игра</a>
                      <a href="fifthgame.html">Пятая игра</a>
                  </div>
                </div>
                <a href="#">Download</a>
            </div>
        </nav>
    </header>
    
    <main>
        <h1>MindShell - четвёртая игра <span class="terminal-effect">_</span></h1>
        <p>Для успешного прохождения данной игры требуется найти ключ и отремонтировать (Что, пока не ясно)</p>
        <p>Выполненой задачей будет считаться понимание причины падения электричества.</p>
        <p>(***)</p>
    </main>
    
    <footer>
        <p>© 2025 MindShell | Все права защищены | Конфиденциальность и безопасность</p>
    </footer>
    <script src="../scripts/main.js"></script>
</body>
</html>