<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindShell - fourth lvl</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <a href=".">home</a>
                <div class="dropdown">
                  <a href="#" id="wiki-link">Wiki</a>
                  <div class="dropdown-content" id="wiki-menu">
                        <a href="./game1">Первая игра</a>
                        <a href="./game2">Вторая игра</a>
                        <a href="./game3">Третья игра</a>
                        <a href="./game4">Четвертая игра</a>
                        <a href="./game5">Пятая игра</a>
                  </div>
                </div>
                <a href="#">Download</a>
            </div>
        </nav>
    </header>
    
    <main>
        <h1>MindShell - четвертая игра <span class="terminal-effect">_</span></h1>
        <div class="mainpart">
            <div class="tableleft">
                <p>1. Цель</p>
                <p>2. Результат</p>
                <p>3. Подсказка</p>
            </div>
            
            <div class="maininfo">
                <p>Для успешного прохождения данной игры требуется найти флаг в паролях персонального компьютера.</p>
                <p>Выполненой задачей будет считаться нахождение флага в файле (...).</p>
                <p>(password)</p>
            </div>
        </div>
    </main>
    
    <footer>
        <p>© 2025 MindShell | Все права защищены | Конфиденциальность и безопасность</p>
    </footer>
    <script src="../scripts/main.js"></script>
</body>
</html>