<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindShell</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <a href=".">home</a>
                <div class="dropdown">
                  <a href="#" id="wiki-link">Wiki</a>
                  <div class="dropdown-content" id="wiki-menu">
                        <a href="./game1">Первая игра</a>
                        <a href="./game2">Вторая игра</a>
                        <a href="./game3">Третья игра</a>
                        <a href="./game4">Четвертая игра</a>
                        <a href="./game5">Пятая игра</a>
                  </div>
                </div>
                <a href="#">Download</a>
            </div>
        </nav>
    </header>
    
    <main>
        <h1>MindShell <span class="terminal-effect">_</span></h1>
        <p>Игра c элементами информационной безопасности для начинающих и уже опытных пользователей!</p>
        <p>> Игра направлена на получение или поддержание начальных навыков в сфере информационной безопасности</p>
    </main>
    
    <footer>
        <p>© 2025 MindShell | Все права защищены | Конфиденциальность и безопасность</p>
    </footer>
    <script src="../scripts/main.js"></script>
</body>
</html>